@import "Utils/variables";
@import "Utils/mixins";
@import "Base/base";
@import "Components/button";
@import "Layouts/header";
@import "Layouts/footer";
@import "Pages/menu";

.explore__container {
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    padding-bottom: 2rem;
}

.location {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background: #eaeaea;
    column-gap: 1rem;
    color: rgb(75, 75, 75);
    p {
        margin: 1rem 0;
        font-weight: 500;
    }
}

.slogan {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1.5rem;
    p {
        font-size: 1.1rem;
        font-weight: 300;
        margin: .8rem 0 1.5rem 0;
    }
}

.instruction__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 2rem 4rem;
    i {
        color: rgba(0, 0, 0, 0.5);
        padding-right: 2.5rem;
    }
}

.instruction__block {
    display: flex;
    align-items: baseline;
    width: 100%;
    padding: 1.5rem 3rem;
    padding-left: 2rem;
    @include tag-block;
    &:hover {
        background: fade-out($color-primary, .8);
        cursor: pointer;
    }
}

#restaurants {
    background: #f6f6f6;
}

.restaurants__container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    padding-bottom: 4rem;
    gap: 1.5rem;
}

.restaurant__card {
    background: white;
    border: 0;
    border-radius: 20px;
    @include shadow;
        a {
            display: flex;
            flex-direction: column;
        }
        img {
            width: 100%;
            height: 180px;
            border: 0;
            border-radius: 20px 20px 0 0;
        }
}

.restaurant__card-img{
    object-fit: cover;
    object-position: center 63%;
}

.card__body {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    i {
        font-size: 1.5rem;
        &:hover {
            background: -webkit-linear-gradient(top, $color-secondary, $color-primary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}