@keyframes dropApparition {
  0% {
    opacity: 0;
    top: -70px;
  }
  10% {
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes rotateLeft {
  from {
    transform: translate(250%, 0) rotate(0);
  }
  to {
    transform: translate(0) rotate(720deg);
  }
}
@keyframes loaderColorChange {
  0% {
    filter: invert(88%) sepia(14%) saturate(712%) hue-rotate(112deg) brightness(96%) contrast(89%);
  }
  50% {
    filter: invert(39%) sepia(85%) saturate(827%) hue-rotate(233deg) brightness(88%) contrast(96%);
  }
  100% {
    filter: invert(62%) sepia(58%) saturate(644%) hue-rotate(284deg) brightness(101%) contrast(103%);
  }
}
@keyframes loaderDisparition {
  99% {
    cursor: wait;
    z-index: 9999;
    opacity: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}

h1 {
  font-size: clamp(1.75rem, 5vw, 2.5rem);
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
  padding: 3rem 0 1.5rem 1rem;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 0.96rem;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

@media (min-width: 415px) {
  p {
    font-size: clamp(0.65rem, 1vw, 1rem);
  }
}
@media (min-width: 769px) {
  p {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
  }
}
@media (min-width: 993px) {
  p {
    font-size: clamp(0.2rem, 1.4vw, 1.3rem);
  }

  .restaurant__card p {
    font-size: 1rem;
  }

  footer p {
    font-size: 1rem;
  }
}
.button {
  padding: 1rem 0;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  border: 0;
  border-radius: 30px;
  box-shadow: 0px 5px 10px -3px rgba(128, 128, 128, 0.4);
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  position: relative;
  z-index: 1;
}
.button:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px -3px rgba(128, 128, 128, 0.6);
  transition: all 300ms;
}
.button:hover::after {
  opacity: 1;
}
.button::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  opacity: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #a16be0, #ff93e1);
  transition: opacity 300ms;
}

.card__action--heart {
  display: flex;
  padding: 0.1rem 0.6rem 0 0;
  transition-delay: 100ms;
}
.card__action--heart .fas {
  position: relative;
  inset: 0;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  opacity: 0;
  inset: 0;
  transition: opacity 200ms ease-in;
}
.card__action--heart .far {
  position: absolute;
  opacity: 1;
  font-size: clamp(1.5rem, 5vw, 3rem);
  transition: opacity 150ms;
}
.card__action--heart.restaurant_version .fas {
  font-size: 1.5rem;
}
.card__action--heart.restaurant_version .far {
  font-size: 1.5rem;
}
.card__action--heart:hover .fas {
  opacity: 1;
}
.card__action--heart:hover .far {
  opacity: 0;
}

.loader {
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 1;
  animation: loaderDisparition 2.5s linear forwards;
}
.loader__img {
  position: fixed;
  opacity: 1;
  height: 100%;
  width: 50%;
  top: 0%;
  left: 25%;
  filter: invert(39%) sepia(85%) saturate(827%) hue-rotate(233deg) brightness(88%) contrast(96%);
  animation: loaderColorChange 2s infinite alternate-reverse;
}
@media (min-width: 992px) {
  .loader__img {
    height: 100%;
    width: 30%;
    top: 0%;
    left: 40%;
  }
}

header {
  display: flex;
  flex-direction: column;
}

.header__logo {
  top: 0;
  display: flex;
  position: sticky;
  justify-content: center;
  background: white;
  width: 100%;
  min-height: 4rem;
  box-shadow: 0px 1px 5px grey;
  z-index: 5;
}
@media (min-width: 992px) {
  .header__logo {
    min-height: 5rem;
  }
}
.header__logo img {
  max-width: 45%;
  height: auto;
  align-self: center;
}
@media (min-width: 993px) {
  .header__logo img {
    width: 20%;
  }
}

footer {
  bottom: 0%;
  width: 100%;
  background: #353535;
  padding: 1rem;
  color: white;
}
footer a {
  display: flex;
  color: white;
}
footer i {
  padding-right: 1.5rem;
}

.fa-arrow-left {
  position: absolute;
  align-self: center;
  left: 20px;
  font-size: 1.5rem;
}

.header__restaurant {
  object-fit: cover;
}
.header__restaurant img {
  width: 100%;
  height: 300px;
  border: 0;
}

.restaurant__img {
  object-fit: cover;
}

.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Shrikhand", cursive;
  padding: 2rem 1rem 0;
}

.menu {
  position: relative;
  margin-top: -4rem;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
}

@media (min-width: 992px) {
  .menu__content {
    display: flex;
    align-items: flex-start;
  }
  .menu__content > * {
    width: 33.3333333333%;
  }
}

.dish__container {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  gap: 1rem;
}
.dish__container h2 {
  margin: 0;
  padding: 0;
  width: fit-content;
  margin-top: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
}
.dish__container h2:after {
  content: "";
  display: block;
  margin: 0.2rem 0;
  width: 3.5rem;
  border-bottom: 3px solid #99E2D0;
}
.dish__container--flex {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.dish__container--icon {
  display: none;
}
@media (min-width: 768px) {
  .dish__container--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 10rem;
    color: #99E2D0;
    opacity: 0.8;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .dish__container--icon {
    display: none;
  }
}
@media (min-width: 768px) {
  .dish__container > * {
    flex-basis: 100%;
  }
}

.dish__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
}

.dish__tag {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  animation: dropApparition 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.dish__tag--1 {
  animation-delay: 0.1111111111s;
}
.dish__tag--2 {
  animation-delay: 0.2222222222s;
}
.dish__tag--3 {
  animation-delay: 0.3333333333s;
}
.dish__tag--4 {
  animation-delay: 0.4444444444s;
}
.dish__tag--5 {
  animation-delay: 0.5555555556s;
}
.dish__tag--6 {
  animation-delay: 0.6666666667s;
}
.dish__tag--7 {
  animation-delay: 0.7777777778s;
}
.dish__tag--8 {
  animation-delay: 0.8888888889s;
}
.dish__tag--9 {
  animation-delay: 1s;
}
.dish__tag .tag__desc {
  padding: 10px;
  width: 100%;
  transition: width 0.3s;
}
.dish__tag .tag__desc h3 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dish__tag .tag__desc .tag__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dish__tag .tag__desc .tag__body p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
  font-size: 0.9rem;
}
.dish__tag:hover {
  box-shadow: 0 5px 10px -3px rgba(128, 128, 128, 0.6);
  transition: all 300ms;
  cursor: pointer;
}
.dish__tag:hover .tag__desc {
  width: 80%;
}
.dish__tag:hover .tag__button {
  background: #99E2D0;
  width: 20%;
}
.dish__tag:hover .fa-check-circle {
  animation: rotateLeft 600ms;
}

.tag__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 0;
  transition: width 0.3s;
}

.fa-check-circle {
  color: white;
  font-size: 1.5rem;
}

.order-btn__container {
  display: flex;
  justify-content: center;
  padding: 3rem 1rem 5rem;
}

.explore__container {
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  padding-bottom: 2rem;
}

.location {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: #eaeaea;
  column-gap: 1rem;
  color: #4b4b4b;
}
.location p {
  margin: 1rem 0;
  font-weight: 500;
}
@media (min-width: 993px) {
  .location {
    justify-content: flex-start;
    padding-left: 2rem;
  }
  .location p {
    margin: 1.5rem 0;
    font-weight: 500;
  }
}

.slogan {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 1.5rem;
}
.slogan p {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0.8rem 0 1.5rem 0;
}
@media (min-width: 993px) {
  .slogan {
    text-align: left;
    align-items: flex-start;
  }
}

.instruction__container {
  display: flex;
  flex-direction: column;
  background: white;
  gap: 1rem;
  padding: 0 2rem 4rem;
}
@media (min-width: 415px) {
  .instruction__container {
    flex-direction: row;
    background: white;
    padding: 1rem;
    padding-left: 2rem;
    gap: 2rem;
  }
  .instruction__container .ellipsis {
    display: none;
  }
}
@media (min-width: 415px) and (min-width: 521px) {
  .instruction__container .ellipsis {
    display: inline;
  }
}
@media (min-width: 415px) {
  .instruction__container > * {
    flex-basis: 100%;
  }
}
@media (min-width: 993px) {
  .instruction__container {
    padding: 0 2rem 4rem;
    gap: 4rem;
  }
}

.instruction__block {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  padding-left: 2rem;
  width: 100%;
  background: #f6f6f6;
  border: 0;
  border-radius: 15px;
  font-weight: 500;
  box-shadow: 0px 5px 10px -3px rgba(128, 128, 128, 0.4);
  transition: all 400ms;
}
.instruction__block:hover {
  background: rgba(147, 86, 220, 0.2);
  cursor: pointer;
  box-shadow: 0 5px 10px -3px rgba(128, 128, 128, 0.6);
  transition: all 300ms;
}
.instruction__block:hover i {
  color: #9356DC;
}
.instruction__block i {
  color: rgba(0, 0, 0, 0.5);
  padding-right: 1.7rem;
}
.instruction__block .fa-mobile-alt {
  padding-right: 0.8rem;
}
.instruction__block .fa-layers {
  display: flex;
  position: absolute;
  align-self: center;
  left: -15px;
  padding-right: 0;
  font-size: 2rem;
}
.instruction__block .fa-layers .fa-circle {
  color: #9356DC;
}
.instruction__block .fa-layers .fa-layers-text {
  position: absolute;
  align-self: center;
  left: 11px;
  font-size: 1rem;
  color: white;
}
@media (min-width: 415px) {
  .instruction__block {
    width: 29%;
  }
  .instruction__block i {
    padding-right: 0.5rem;
  }
  .instruction__block .fa-mobile-alt {
    padding-right: 0.2rem;
  }
  .instruction__block .fa-store {
    padding-right: 1.4rem;
  }
}
@media (min-width: 769px) {
  .instruction__block {
    padding-left: 1.5rem;
  }
  .instruction__block i {
    padding-right: 1.7rem;
  }
  .instruction__block .fa-mobile-alt {
    padding-right: 0.7rem;
  }
  .instruction__block .fa-store {
    padding-right: 1.9rem;
  }
}
@media (min-width: 993px) {
  .instruction__block {
    padding: 1.5rem;
    padding-left: 2.5rem;
  }
  .instruction__block i {
    font-size: clamp(1rem, 2vw, 2rem);
    padding-right: 2.7rem;
  }
  .instruction__block .fa-mobile-alt {
    padding-right: 0.7rem;
  }
  .instruction__block .fa-store {
    padding-right: 3.2rem;
  }
  .instruction__block .fa-layers {
    left: -25px;
  }
  .instruction__block .fa-layers .fa-circle {
    font-size: 3rem;
  }
  .instruction__block .fa-layers .fa-layers-text {
    left: 17px;
    font-size: 1.5rem;
  }
}

#restaurants {
  background: #f6f6f6;
}

.restaurants__container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  padding-bottom: 4rem;
  gap: 1.5rem;
}
@media (min-width: 415px) {
  .restaurants__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0;
    row-gap: 1rem;
  }
  .restaurants__container > * {
    flex: 0 1 48%;
  }
}
@media (min-width: 993px) {
  .restaurants__container > * {
    flex: 0 1 23%;
  }
}

.restaurant__card {
  position: relative;
  background: white;
  border: 0;
  border-radius: 20px;
  box-shadow: 0px 5px 10px -3px rgba(128, 128, 128, 0.4);
}
.restaurant__card a {
  display: flex;
  flex-direction: column;
}
.restaurant__card img {
  width: 100%;
  height: 180px;
  border: 0;
  border-radius: 20px 20px 0 0;
}
.restaurant__card span {
  position: absolute;
  width: fit-content;
  top: 15px;
  right: 15px;
  text-align: center;
  font-weight: 500;
  color: #278870;
  padding: 0.3rem 0.7rem;
  background: #99E2D0;
  border-radius: 2px;
  box-shadow: 0px 5px 10px -3px rgba(128, 128, 128, 0.4);
}
.restaurant__card:hover {
  box-shadow: 0 5px 10px -3px rgba(128, 128, 128, 0.6);
  transition: all 300ms;
}

.restaurant__card-img {
  object-fit: cover;
  object-position: center 63%;
}

.card__body {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

/*# sourceMappingURL=style.css.map */
