.button {
    padding: 1rem 0;
    width: 200px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255, 1);
    border: 0;
    border-radius: 30px;
    @include shadow-hover;
    background: -webkit-linear-gradient(bottom, $color-primary, $color-secondary);
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
        opacity: 1;
        }
        cursor: pointer;
        @include shadow;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 0;
        border-radius: 30px;
        opacity: 0;
        z-index: -1;
        background: -webkit-linear-gradient(bottom, darken($color-primary,5), darken($color-secondary,5));
        transition: opacity 300ms;
        }

    }


.card__action--heart {
    .fas {
        display: none;
    }
    .far {
        display: flex;
        font-size: 1.5rem;
    }

    &:hover {
        .far {
            display: none;
        }
        .fas {
            display: flex;
            font-size: 1.45rem;
        }
        background: -webkit-linear-gradient(top, $color-secondary, $color-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}