*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}

h1 {
  font-size: 1.75rem;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
  padding: 3rem 0 1.5rem 1rem;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  padding: 1rem 0;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  border: 0;
  border-radius: 30px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 5px 10px -3px rgba(128, 128, 128, 0.3);
}
button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.card__action--heart .fas {
  display: none;
}
.card__action--heart .far {
  display: flex;
  font-size: 1.5rem;
}
.card__action--heart:hover {
  background: -webkit-linear-gradient(top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__action--heart:hover .fas {
  display: flex;
  font-size: 1.45rem;
}
.card__action--heart:hover .far {
  display: none;
}

header {
  display: flex;
  flex-direction: column;
}

.header__logo {
  position: relative;
  top: 0;
  display: flex;
  position: sticky;
  justify-content: center;
  background: white;
  width: 100%;
  min-height: 4rem;
  box-shadow: 0px 1px 5px grey;
}
.header__logo img {
  max-width: 45%;
  height: auto;
  align-self: center;
}

footer {
  width: 100%;
  background: #353535;
  padding: 1rem;
  color: white;
}
footer a {
  display: flex;
  color: white;
}
footer i {
  padding-right: 1.5rem;
}

.fa-arrow-left {
  position: absolute;
  align-self: center;
  left: 20px;
  font-size: 1.5rem;
}

.header__restaurant {
  object-fit: cover;
}
.header__restaurant img {
  width: 100%;
  height: auto;
  border: 0;
  border-radius: 20px 20px 0 0;
}

.restaurant__img {
  object-fit: cover;
}

.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Shrikhand", cursive;
  padding: 2rem 1rem 0;
}

.menu {
  position: relative;
  margin-top: -3rem;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
}

.dish__container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 1rem;
}
.dish__container h2 {
  margin: 0;
  padding: 0;
  width: fit-content;
  margin-top: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
}
.dish__container h2:after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  margin: 0.2rem 0;
  /* This will center the border. */
  width: 3.5rem;
  /* Change this to whatever width you want. */
  border-bottom: 3px solid #99E2D0;
  /* This creates the border. Replace black with whatever color you want. */
}

.dish__tag {
  width: 100%;
  background: #f6f6f6;
  border: 0;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0px 5px 10px -3px rgba(128, 128, 128, 0.3);
  background: white;
  padding: 0.5rem 1rem;
}

.tag__body {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}
.tag__body .tag__price {
  font-weight: bold;
}

.order-btn__container {
  display: flex;
  justify-content: center;
  padding: 3rem 1rem 5rem;
}

.explore__container {
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  padding-bottom: 2rem;
}

.location {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: #eaeaea;
  column-gap: 1rem;
  color: #4b4b4b;
}
.location p {
  margin: 1rem 0;
  font-weight: 500;
}

.slogan {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 1.5rem;
}
.slogan p {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0.8rem 0 1.5rem 0;
}

.instruction__container {
  display: flex;
  flex-direction: column;
  background: white;
  gap: 1rem;
  padding: 0 2rem 4rem;
}

.instruction__block {
  display: flex;
  position: relative;
  align-items: baseline;
  width: 100%;
  padding: 1.5rem 3rem;
  padding-left: 2rem;
  width: 100%;
  background: #f6f6f6;
  border: 0;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0px 5px 10px -3px rgba(128, 128, 128, 0.3);
}
.instruction__block:hover {
  background: rgba(147, 86, 220, 0.2);
  cursor: pointer;
}
.instruction__block:hover i {
  color: #9356DC;
}
.instruction__block i {
  color: rgba(0, 0, 0, 0.5);
  padding-right: 2.5rem;
}
.instruction__block .fa-layers {
  display: flex;
  position: absolute;
  align-self: center;
  left: -15px;
  padding-right: 0;
  font-size: 2rem;
}
.instruction__block .fa-layers .fa-circle {
  color: #9356DC;
}
.instruction__block .fa-layers .fa-layers-text {
  position: absolute;
  align-self: center;
  left: 0.7rem;
  font-size: 1rem;
  color: white;
}

#restaurants {
  background: #f6f6f6;
}

.restaurants__container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  padding-bottom: 4rem;
  gap: 1.5rem;
}

.restaurant__card {
  position: relative;
  background: white;
  border: 0;
  border-radius: 20px;
  box-shadow: 0px 5px 10px -3px rgba(128, 128, 128, 0.3);
}
.restaurant__card a {
  display: flex;
  flex-direction: column;
}
.restaurant__card img {
  width: 100%;
  height: 180px;
  border: 0;
  border-radius: 20px 20px 0 0;
}
.restaurant__card span {
  position: absolute;
  width: fit-content;
  top: 15px;
  right: 15px;
  text-align: center;
  font-weight: 500;
  color: #278870;
  padding: 0.3rem 0.7rem;
  background: #99E2D0;
  border-radius: 2px;
  box-shadow: 0px 5px 10px -3px rgba(128, 128, 128, 0.3);
}

.restaurant__card-img {
  object-fit: cover;
  object-position: center 63%;
}

.card__body {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

/*# sourceMappingURL=style.css.map */
