.fa-arrow-left{
    position: absolute;
    align-self: center;
    left: 20px;
    font-size: 1.5rem;
}

.header__restaurant {
    object-fit: cover;
    img {
        width: 100%;
        height: auto;
        border: 0;
        border-radius: 20px 20px 0 0;
    }
}

.restaurant__img {
    object-fit: cover;
}

.menu__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Shrikhand', cursive;
    padding: 2rem 1rem 0;
}

.menu {
    position: relative;
    margin-top: -3rem;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 20px 20px 0 0;
}

.dish__container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1rem;
    h2 {
        @include margin-padding;
        width: fit-content;
        margin-top: 2.5rem;
        font-weight: 300;
        text-transform: uppercase;
        &:after {
            content: "";
            display: block;
            margin: .2rem 0;
            width: 3.5rem;
            border-bottom: 3px solid $color-tertiary;
        }
    }
}


.dish__tag {
    opacity: 0;
    position: relative;
    @include tag-block;
    background: white;
    padding: .5rem 1rem;
    animation: dropApparition $anim-dur cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    @for $i from 1 through $num-dish {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }
    &:hover {
        @include shadow-hover;
    }
}

.tag__body {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    .tag__price {
        font-weight: bold;
    }
}

.order-btn__container {
    display: flex;
    justify-content: center;
    padding: 3rem 1rem 5rem;
}