@keyframes dropApparition {

    0% {
        opacity: 0;
        top:-70px;
    }

    10% {
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes swipeLeft {
    0% {
        transform-origin: right;
        transform: scaleX(0);
    }
    100% {
        transform-origin: right;
        transform: scaleX(1);
    }
}

@keyframes rotateLeft {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pushLeft {
    from {
        right: calc(0rem + 1rem);
    }
    to {
        right: 65px;
    }
}