@keyframes dropApparition {

    0% {
        opacity: 0;
        top:-70px;
    }

    10% {
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes rotateLeft {
    from {
        transform: translate(250%,0) rotate(0);

    }
    to {
        transform: translate(0) rotate(720deg);
    }
}

@keyframes pushLeft {
    from {
        right: calc(0rem + 1rem);
    }
    to {
        right: 65px;
    }
}

