footer {
    bottom: 0%;
    width: 100%;
    background: #353535;
    padding: 1rem;
    color: white;
    a {
        display: flex;
        color: white;
    }
    i {
        padding-right: 1.5rem;
    }
}